<% if (locals.errors) {%>
    <% errors.forEach((err)=> {%>
        <div class="alert alert-danger">
                <%= console.log('err.msg: ',err.msg)%>
                <% console.log('err: ',err)%>
                <%= err.msg%>
        </div>
    <%})%>

<%}%>


<% if (locals.message && message !="") {%>
         
    <div class="alert alert-success">
        <% console.log('message: ',message)%>
            <%= message%>
    </div>
  <%}%>     
      

  <% if (locals.error && error !="") {%>
         
    <div class="alert alert-danger">
        <%= console.log('error: ',error)%>
            <%= error%>
    </div>
  <%}%>     
      
  <% if (locals.success && success !="") {%>
         
    <div class="alert alert-success">
        <%= console.log('success: ',success)%>
            <%= success%>
    </div>
  <%}%>   