<%- include('../Includes/top.ejs') %>
<%- include('../Includes/navigation.ejs') %>

<!--Stylings open-->
<div align="center">
  <div style="background-color: rgba(0, 0, 0, 0.751); margin-top: 5%; width: 600px; border-radius: 20px;">
    <h1 class="p-3" style="color: aliceblue;">Your tasks</h1>

    <!--add task-->
    <%- include('./todoCreate.ejs') %>

 
  <%todotasks.forEach(tasks=> {%>
    <%if(owners.equals( tasks.owner)){  %>
    <!--view tasks-->
    <%- include('./todoShow.ejs', {tasks:tasks, owners: owners}) %>

    <!--update tasks-->
    <%- include('./todoUpdate.ejs',{tasks:tasks}) %>
    
    <!--delete tasks-->
    <%- include('./todoDelete.ejs',{tasks:tasks}) %>
    <% } %>
    <%})%>


<%- include('../Includes/bottom.ejs') %>